<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        div {
            font-family: sans-serif, Arial, Helvetica;
            color: #333333;
            text-align: center;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div>
        <h1>{{phrase}}</h1>
        <h4>He has {{commitCount}} commits on github</h4>
        <p>This is a Simple App that checks for how many commits I have on github each day..</p>
        <p>If i reached a certain limit that means I'm no longer a lazy piece of shit.</p>
    </div>
</body>

</html>